body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #e3e3e3;
    font-family: Arial, sans-serif;
}

.contact-card {
    background: #ffffff;
    width: 360px;
    padding: 25px;

    border-radius: 12px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.contact-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-card label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.contact-card input,
.contact-card textarea {
    width: 100%;
    padding: 10px;
    margin-top: 6px;

    border: 1px solid #ccc;
    border-radius: 6px;

    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

.contact-card textarea {
    resize: none;
    height: 100px;
}

.contact-card input:focus,
.contact-card textarea:focus {
    border-color: #000;
}

.contact-card button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;

    background: black;
    color: white;

    border: none;
    border-radius: 6px;

    font-size: 16px;
    cursor: pointer;
}

.contact-card button:hover {
    background: #333;
}