* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* logo  */
#logo-img {
    width: 400px;
    height: 150px;
    background-image: url('images/Facebook-Logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0px 0 0px;
}

/* main Box  */
.signup-box {
    background: #fff;
    width: 435px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

/* heading  */
.heading {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #DADDE1;
}

.heading h2 {
    font-size: 24px;
}

.heading p {
    font-size: 14px;
    color: #606770;
}

/* top inputs  */
.container {
    padding: 16px;
}

.container-inputs {
    display: flex;
    gap: 12px;
    text-align: center;
}

.container-inputs input {
    padding: 11px;
    line-height: 16px;
    border: 1px solid #DADDE1;
    border-radius: 4px;
    font-size: 14px;
    color: #DADDE1;
}

.container-inputs input:focus {
    border: 2px solid black;
}

/* date selectors  */
.date-container {
    margin-top: 10px;
}

.date-heading {
    font-size: 12px;
    color: #606770;
    margin-bottom: 4px;
}

.date-heading i {
    font-size: 12px;
    color: #606770;
    background-color: #fff;
    cursor: pointer;
}

.date-selects {
    display: flex;
    gap: 12px;
}

.date-selects select {
    width: 100%;
    height: 36px;
    padding: 0px 20px 0px 8px;
    font-size: 15px;
    border: 1px solid #DADDE1;
    border-radius: 4PX;
    background-color: #fff;
    outline: none;
}

.date-selects select:focus {
    border: 2px solid black;
}

/* gander selector  */
.gender-container {
    margin-top: 10px;
    font-size: 12px;
    color: #606770;
    margin-bottom: 4px;
}

.gender-container i {
    cursor: pointer;
}

.gender-selects {
    display: flex;
    gap: 12px;

}

.gender-selects label {
    width: 100%;
    height: 36px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border: 1px solid #DADDE1;
    border-radius: 4px;
}

/* mobile input  */
.container-inputs2 input {
    display: block;
    margin: 12px 0px;
    padding: 11px;
    width: 100%;
    border: 1px solid #DADDE1;
    border-radius: 4px;
}

.container-inputs2 {
    margin-bottom: 22px;
}

.container-inputs2 input:focus {
    border: 2px solid black;
}

/* para  */
.container p {
    width: auto;
    font-size: 11px;
    margin: 11px 0px;
    color: #606770;
}

.container p a {
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}

/* btn  */
.btn {
    display: flex;
    text-align: center;
    padding: 10px 0px;
    width: 100%;
    place-content: center;

}

.btn-sign {
    color: #fff;
    background-color: #00a400;
    border: none;
    font-size: 18px;
    font-weight: 700;
    border-radius: 6px;
    box-shadow: none;
    padding: 7px 65px;
    cursor: pointer;
}

.btn-sign:hover {
    background-color: #289c11;
}

/* link  */
.forgot {
    display: flex;
    place-content: center;
    padding: 10px 0px;
}

.forgot-link {
    color: #1877f2;
    font-size: 17px;
    text-decoration: none;
}