body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #dcd9d6;
    font-family: Arial, sans-serif;
}

.login-card {
    background: #ffffff;
    width: 320px;
    padding: 25px;

    border-radius: 10px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.login-card h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-card label {
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.login-card input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px 0;

    border: 1px solid #ccc;
    border-radius: 5px;

    outline: none;
    box-sizing: border-box;
}


.login-card button {
    width: 100%;
    padding: 12px;

    background: black;
    color: white;

    border: none;
    border-radius: 5px;

    font-size: 16px;
    cursor: pointer;
}

.login-card button:hover {
    background: #333;
}

.forgot {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    cursor: pointer;
}